<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Administrador de Productos Nexos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" (click)="onOpenModal(null, 'add')">Agregar Producto <span class="sr-only">(current)</span></a>
        </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
        <input type="search" (ngModelChange)="searchProductos(key.value)" #key="ngModel" ngModel
         name="key" id="searchName" class="form-control mr-sm-2" placeholder="Buscar Productos..." required>
     </form>
  </div>
</nav>
<div class="container" id="main-container">
<div class="row">
  <div *ngFor="let producto of productos" class="col-md-6 col-xl-3">
     <div class="card m-b-30">
        <div class="card-body row">
           <div class="col-6 card-title align-self-center mb-0">
              <h5>{{producto?.nombre}}</h5>
              <p class="m-0">Cantidad: {{producto?.cantidad}}</p>
           </div>
        </div>
        <ul class="list-group list-group-flush">
           <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Fecha Ingreso: {{producto?.fechaIngreso}}</li>
           <li class="list-group-item"><i class="fa fa-phone float-right"></i>Usuario Creador: {{producto?.usuario?.nombre}}</li>
           <li class="list-group-item"><i class="fa fa-phone float-right"></i>Cargo Usuario: {{producto?.usuario?.cargoname}}</li>
        </ul>
        <div class="card-body">
           <div class="float-right btn-group btn-group-sm">
              <a (click)="onOpenModal(producto, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
              <a (click)="onOpenModal(producto, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
           </div>
        </div>
     </div>
  </div>
</div>

<!-- Add Producto Modal -->
<div class="modal fade" id="addProductoModal" tabindex="-1" role="dialog" aria-labelledby="addProductoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addProductoModalLabel">Agregar Producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddProducto(addForm)">
          <div class="form-group">
             <label for="nombre">Nombre</label>
             <input type="text" ngModel name="nombre" class="form-control" id="nombre" placeholder="Nombre" required>
          </div>
          <div class="form-group">
             <label for="cantidad">Cantidad</label>
             <input type="number" ngModel name="cantidad" class="form-control" id="cantidad" placeholder="Cantidad" required>
          </div>
          <div class="form-group">
             <label for="fechaIngreso">Fecha de ingreso</label>
             <input type="date" ngModel name="fechaIngreso" class="form-control" id="fechaIngreso" placeholder="Fecha de ingreso" required>
          </div>
          <div class="form-group">
            <label for="usuario">Usuario</label>
            <select ngModel name="usuario" required>
              <option *ngFor="let usuario of usuarios" [value]="usuario.id">
                {{usuario.nombre}} - {{usuario.cargoname}}
              </option>
            </select>
          </div>
          <div class="modal-footer">
             <button type="button" id="add-producto-form" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Guardar</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>

<!-- Edit Modal -->
<div class="modal fade" id="updateProductoModal" tabindex="-1" role="dialog" aria-labelledby="productoEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateProductoModalLabel">Editar Producto {{editProducto?.nombre}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm" (ngSubmit)="onUpdateProducto(editForm)">
              <input type="hidden" ngModel="{{editProducto?.id}}" name="id" class="form-control" id="id" placeholder="id">              
              <input type="hidden" ngModel="{{editProducto?.usuario?.id}}" name="usuarioid" class="form-control" id="usuarioid" placeholder="id">              
              <div class="form-group">
                 <label for="nombre">Nombre</label>
                 <input type="text" ngModel="{{editProducto?.nombre}}" name="nombre" class="form-control" id="nombre" placeholder="Nombre">
              </div>
              <div class="form-group">
                  <label for="cantidad">Cantidad</label>
                  <input type="number" ngModel="{{editProducto?.cantidad}}" name="cantidad" class="form-control" id="cantidad" placeholder="Cantidad">
              </div>
              <div class="form-group">
                  <label for="fechaIngreso">Fecha de ingreso</label>
                  <input type="date" ngModel="{{editProducto?.fechaIngreso}}" name="fechaIngreso" class="form-control" id="fechaIngreso" placeholder="Fecha de ingreso">
              </div>
              <div class="form-group">
                <label for="usuario">Usuario que modifica </label>
                <select ngModel name="usuario">
                  <option *ngFor="let usuario of usuarios" [value]="usuario.id">
                    {{usuario.nombre}} - {{usuario.cargoname}}
                  </option>
                </select>
              </div>
              <div class="modal-footer">
                 <button type="button" id="edit-producto-form" data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
                 <button [disabled]="editForm.invalid" type="submit" class="btn btn-primary" >Guardar</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteProductoModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Borrar Producto</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>¿Estás seguro de borrar el producto: {{deleteProducto?.nombre}}?</p>
           <div class="form-group">
            <label for="usuario">Usuario</label>
            <select ngModel name="usuario" (change)="onChange($event.target.value)">
              <option *ngFor="let usuario of usuarios" [value]="usuario.id">
                {{usuario.nombre}} - {{usuario.cargoname}}
              </option>
            </select>
           </div>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteProducto(deleteProducto?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>
</div>

<!-- No hay productos -->
<div *ngIf="productos?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">No hay Productos!</h4>
  <p>No se encontraron productos.</p>
</div>
</div>